<mat-sidenav-container class="example-container">

    <mat-sidenav [ngStyle]="{'width': width  +'%' }"
                 [sideNav] = "sidenav"  #sidenav (setWidth) = "setWidth ($event) "
                 mode = "over"
                 appOpenSidebarOnSwipe >

    <mat-toolbar color="accent">
      <span> Shop Smart </span>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="warn">
      <button mat-mini-fab color="primary" (click)="sidenav.open()" >
        <mat-icon> menu</mat-icon>
      </button>
      <p style="margin-left: 10px;"> Main Toolbar </p>
    </mat-toolbar>
    <app-test-template></app-test-template>
  </mat-sidenav-content>
</mat-sidenav-container>
