.mag-container{
  display: flex;
  width: 100px;
  height: 100px;
  background: #447D9B;
  border-radius: 20%;
  overflow: hidden;
}
.mf{
  display: block;
  background: #275878;
  width: 100px;
  height: 40px;
  position: relative;
  border-radius: 20px 0 0 20px;
  transform: rotateZ(45deg) scale(1.2);
  transform-origin: 20px 20px;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}
.mf::before{
  content: '';
  display: block;
  background: #275878;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 5px solid #FFF;
  border-radius: 50%;
  box-sizing: border-box;
  top:0;
  left: 0;
}
.mf::after{
  content: '';
  display: block;
  background: #FFF;
  width: 20px;
  height: 10px;
  position: absolute;
  top: calc(50% - 5px);
  left: 35px;
  border-radius: 5px;
}
